# Create label for training in future

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [36]:
meta = pd.read_csv('../data/Metameta_info.csv')

In [41]:
clean_meta = meta[meta['malignancy'].isin([1,2])]
meta = meta[meta['malignancy'].isin([4, 5])]

In [38]:
meta.head()

,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_clean
0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,False
1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,False
2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,False
3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,False
4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,False

In [4]:
# NI= Nodule Image, MA = Mask Original , CN = Clean Nodule , CM = Clean Mask

In [20]:
def is_nodule(row):
    if row[5:7] =='NI':        
        return True
    else:
        return False

In [29]:
meta['is_nodule']= meta['original_image'].apply(lambda row: is_nodule(row))

In [43]:
meta['is_nodule']= meta['original_image'].apply(lambda row: is_nodule(row))
clean_meta['is_nodule']= clean_meta['original_image'].apply(lambda row: is_nodule(row))

In [40]:
meta[meta['is_cancer']==False]

Empty DataFrame
Columns: [patient_id, nodule_no, slice_no, original_image, mask_image, malignancy, is_cancer, is_clean]
Index: []

In [22]:
# Lets separate Clean meta and meta data
clean_meta = meta[meta['is_nodule']==False]
clean_meta.reset_index(inplace=True)
meta = meta[meta['is_nodule']==True]
meta.reset_index(inplace=True)

In [ ]:
# Lets separate Clean meta and meta data
clean_meta = meta[meta['is_nodule']==False]
clean_meta.reset_index(inplace=True)
meta = meta[meta['is_nodule']==True]
meta.reset_index(inplace=True)

In [44]:
clean_meta.head(2)

,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_clean,is_nodule
36,3,0,0,0003_NI000_slice000,0003_MA000_slice000,2,False,False,True
37,3,0,1,0003_NI000_slice001,0003_MA000_slice001,2,False,False,True

In [45]:
meta.head(2)

,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_clean,is_nodule
0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,False,True
1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,False,True

In [46]:
def is_train(row,train,val,test):
    if row in train:
        return 'Train'
    elif row in val:
        return 'Validation'
    else:
        return 'Test'

In [47]:

clean_patient_id = list(np.unique(clean_meta['patient_id']))
meta_patient_id = list(np.unique(meta['patient_id']))

In [48]:
def create_label_segmentation(meta):
    patient_id = list(np.unique(meta['patient_id']))
    train_patient , test_patient = train_test_split(patient_id,test_size= 0.25)
    train_patient, val_patient = train_test_split(train_patient,test_size= 0.25)
    print(len(train_patient),len(val_patient),len(test_patient))
    
    meta['data_split']= meta['patient_id'].apply(lambda row : is_train(row,train_patient,val_patient,test_patient))
    
    return meta

In [49]:
# We need to train/test split independently for clean_meta, meta
meta = create_label_segmentation(meta)
clean_meta = create_label_segmentation(clean_meta)

221 74 99
255 85 114

In [52]:
meta.head(10)

,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_clean,is_nodule,data_split
0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,False,True,Test
1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,False,True,Test
2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,False,True,Test
3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,False,True,Test
4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,False,True,Test
5,1,0,5,0001_NI000_slice005,0001_MA000_slice005,5,True,False,True,Test
6,1,0,6,0001_NI000_slice006,0001_MA000_slice006,5,True,False,True,Test
7,1,0,7,0001_NI000_slice007,0001_MA000_slice007,5,True,False,True,Test
8,2,0,0,0002_NI000_slice000,0002_MA000_slice000,5,True,False,True,Train
9,2,0,1,0002_NI000_slice001,0002_MA000_slice001,5,True,False,True,Train

In [51]:
clean_meta.head()

,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_clean,is_nodule,data_split
36,3,0,0,0003_NI000_slice000,0003_MA000_slice000,2,False,False,True,Test
37,3,0,1,0003_NI000_slice001,0003_MA000_slice001,2,False,False,True,Test
38,3,0,2,0003_NI000_slice002,0003_MA000_slice002,2,False,False,True,Test
39,3,0,3,0003_NI000_slice003,0003_MA000_slice003,2,False,False,True,Test
40,3,0,4,0003_NI000_slice004,0003_MA000_slice004,2,False,False,True,Test

In [16]:
# Clean Meta only stores meta information of patients without nodules.

In [53]:
meta.to_csv('../data/meta_sep.csv')
clean_meta.to_csv('../data/clean_meta_sep.csv')